{% extends "base.html" %}

{% block title %}Обратная связь{% endblock %}

{% block breadcrumbs %}
<li>Обратная связь</li>
{% endblock %}

{% block content %}
<div id="feedback">
    <section>
        {% if sent %}
            Сообщение отправлено
        {% endif %}
    </section>
    <section>
        <form action="." method="post">{% csrf_token %}
            <h2>Обратная связь</h2>
            <p>
                <label for="{{ form.email.name }}">{{ form.email.label }}</label>
                {{ form.email }}
            </p>
            <p>
                <label for="{{ form.name_sender.name }}">{{ form.name_sender.label }}</label>
                {{ form.name_sender }}
            </p>
            <p>
                <label for="{{ form.content.name }}">{{ form.content.label }}</label>
                {{ form.content }}
            </p>
            <p class="login button">
                <input type="submit" value="Отправить"/>
            </p>
        </form>
    </section>
</div>
{% endblock %}