{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_account/css/auth.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'user_account/css/not-auth/animate-custom.css' %}" />
{% endblock %}
{% block content %}
    <section>
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <form  action="{% url 'user_account:login' %}" autocomplete="on" method="post">
                    {% csrf_token %}
                    <h1>Войти</h1>
                    <p>
                        <label for="{{ login_form.your_email.name }}" data-icon="u">{{ login_form.your_email.label }}</label>
                        {{ login_form.your_email }}
                        <span class="errors">{{ login_form.your_login.errors|join:' ' }}</span>
                    </p>
                    <p>
                        <label for="{{ login_form.your_password.name }}" data-icon="p">{{ login_form.your_password.label }}</label>
                        {{ login_form.your_password }}
                        <span class="errors">{{ login_form.your_password.errors|join:' ' }}</span>
                    </p>
                    <p class="keeplogin">
                        {{ login_form.keep_me_login }}
                        <label for="{{ login_form.keep_me_login.name }}">{{ login_form.keep_me_login.label }}</label>
                    </p>
                    <span class="errors">{{ login_form.non_field_errors|join:' ' }}</span>
                    <p class="login button">
                        <input type="submit" value="Войти" />
                    </p>
                    <p id="reset_password">
                        <a href="{% url 'user_account:password_reset' %}">Забыли пароль?</a>
                    </p>
                    <p class="change_link">
                        Еще не с нами ?
                        <a href="#toregister" class="to_register">Присоединяйтесь</a>
                    </p>
                </form>
            </div>
            <div id="register" class="animate form">
                <form  action="{% url 'user_account:registration_register' 'toregister' %}" autocomplete="on" method="post">
                    {% csrf_token %}
                    <h1>Регистрация</h1>
                    <p>
                        <label for="{{ form.username.name }}" data-icon="e">{{ form.username.label }}</label>
                        {{ form.username }}
                        <span class="errors">{{ form.username.errors|join:' ' }}</span>
                    </p>
                    <p>
                        <label for="{{ form.password1.name }}" data-icon="p">{{ form.password1.label }}</label>
                        {{ form.password1 }}
                        <span class="errors">{{ form.password1.errors|join:' ' }}</span>
                    </p>
                    <p id="user_agreement">
                        Нажимая кнопку &laquoЗарегистрироваться&raquo, Вы принимаете условия <a href="{% url 'user_account:user_agreement' %}">Пользовательского соглашения</a>.
                    </p>
                    <p class="signin button">
                        <input type="submit" value="Зарегистрироваться"/>
                    </p>
                    <p class="change_link">
                        Уже зарегистрированы ?
                        <a href="#tologin" class="to_register">Войти</a>
                    </p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}