@import '../global_vars/locals';

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, fieldset, input, textarea, p, blockquote, figure {
    margin: 0;
    padding: 0;
}
html {
  height: 100%;
}
body {
  min-width: 960px;
  font-family: "Verdana";
  font-size: 12px;
  height: 100%;
  position: relative;
}
ul {
  list-style: none;
}
#content {
  margin: 0 auto;
  width: 960px;
  height: auto;
  min-height: 100%;
}
#section a:hover {
    text-decoration: underline;
}
.coin {
    width: 180px;
    height: 250px;
    border: solid 1px #ABAA9D;
    float: left;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
.image_coin{
    width: 150px;
    height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
figure img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: none;
}
.header_coin{
    margin: 10px auto;
    text-align: center;
}
.header_coin a{
    text-decoration: none;
    color: $text-color;
    font-size: large;
}
#detail{
    float: left;
    width: 50%;
    margin: 0 0 0 20px;
    height: 100%;
}
#detail > p{
  text-decoration: underline;
  padding-bottom: 10px;
  cursor: pointer;
}
.label {
  color: $text-light-color;
  margin-bottom: 5px;
}
.label + p{
  margin-bottom: 15px;
}
.js-hidden {
  display: none;
}
.view_catalog {
  float: left;
  width: 800px;
}
#push {
    padding-bottom: 50px;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/*
.container {
	margin: 100px auto auto 100px;
	position: relative;
	width: 190px;
	height: 266px;

	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}
*/
.image_coin { /* поворачивать будем общий контейнер */
    width: 150px;
    height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.7s;
	-moz-transition: -moz-transform 0.7s;
	-ms-transition: -moz-transform 0.7s;
	-o-transition: -o-transform 0.7s;
	transition: transform 0.7s; /* трансформации будут происходить анимированно продолжительностью 0.5 сек */

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;	/* указываем, что дочерние элементы находятся в 3D пространстве */
}
.image_coin.flip {	/* добавляя этот класс, поворачиваем контейнер на 180 градусов */
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-ms-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

figure {
    position: absolute;
	display: block;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;	/* если элемент "отвернулся" от пользователя, контент этого элемента не виден */
}
.avers {
	background: url(card-back.png);
}
.reverse {
	background: url(card-front.png);
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );	/* в начальном положении фэйс карты к нам развернут на 180 градусов */
}

