@import '../global-vars/locals';

footer {
  height: 120px;
  background-color: $main-color;
  width: 100%;
  color: #fff;
  font-size: 12px;
}
#footer_nav {
  margin: 0 0 0 100px;
  padding: 5px;
  position: relative;
  font-size: 14px;
}
#footer_nav li {
  float: left;
  position: relative;
  margin-right: 75px;
}
#footer_nav li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
#footer_nav li a:hover {
  text-decoration: underline;
}
#footer_nav ul {
  margin-left: 5px;
  float: none;
  position: absolute;
  font-size: 12px;
}
#footer_nav ul li
{
  float: none;
  clear: none;
}
