@import '../global_vars/locals';

#header_menu {
    margin: 0 50px;
}
#header_menu li {
    float: right;
    display: block;
    padding: 25px 25px;
}
#header_menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
#header_menu a:hover {
    text-decoration: underline;
}
.breadcrumbs {
  color: $text-dark-color;
  padding: 10px 0px 10px 0px;
  font-size: 14px;
  font-weight: bold;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs a{
  text-decoration: none;
  color: $text-dark-color;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.nav_catalog {
  float: left;
  width: 160px;
}
.nav_ca {
  list-style: none;
}
.nav_catalog a {
  position: relative;
  color: $text-color;
  text-decoration: none;
}
.nav_catalog a:hover {
  text-decoration: underline;
}