@import '../global-vars/locals';

#header_menu {
    margin: 0 50px;
}
#header_menu li {
    float: right;
    display: block;
    margin: 15px 25px;
    padding: 10px 0;
}
#header_menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
#header_menu a:hover {
    text-decoration: underline;
}
#breadcrumbs {
  margin: 10px 0px 10px 5px;
}
#breadcrumbs h2{
  font-size: 16px;
  font-weight: normal;
}
#breadcrumbs a{
    text-decoration: none;
    color: #4C4C46;
}
#breadcrumbs a:hover{
    text-decoration: underline;
}