html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, fieldset, input, textarea, p, blockquote {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-width: 960px;
  margin: 0 auto;
  font-family: "Trebuchet MS";
  height: 100%; }

/*-----------------------------------*\
                #BASE
\*-----------------------------------*/
ul {
  list-style: none; }

/*-----------------------------------*\
                #OBJECTS
\*-----------------------------------*/
#content {
  margin: 0 auto;
  width: 960px;
  padding-bottom: 50px;
  min-height: 100%; }

/*-----------------------------------*\
                #COMPONENTS
\*-----------------------------------*/
/* Page-head */
#section a:hover {
  text-decoration: underline; }

.coin {
  width: 180px;
  height: 250px;
  border: solid 1px #ABAA9D;
  float: left;
  margin: 5px 5px 5px 5px;
  border-radius: 5px; }

.image_coin {
  width: 150px;
  height: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto; }

.image_coin img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: none; }

.header_coin {
  margin: 10px auto;
  text-align: center; }

.header_coin a {
  text-decoration: none;
  color: #4c4c46;
  font-size: large; }

div#detail {
  float: left;
  width: 50%;
  margin: 25px 0 0 20px; }

div#detail p {
  color: #4c4c46; }

div#detail input,
div#detail select,
div#detail textarea {
  width: 100%;
  margin: 4px 0 5px 0;
  padding: 7px 5px 7px 5px;
  border: 1px solid #b2b2b2;
  box-sizing: content-box;
  border-radius: 3px; }

/*div#detail select{*/
/*width: 52%;*/
/*margin-top: 4px;*/
/*padding: 10px 5px 10px 5px;*/
/*border: 1px solid rgb(178, 178, 178);*/
/*box-sizing : content-box;*/
/*border-radius: 3px;*/
/*box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;*/
/*transition: all 0.2s linear;*/
/*}*/
.rounded {
  counter-reset: li;
  list-style: none;
  font-size: 16px;
  padding: 0; }

.rounded a {
  position: relative;
  display: block;
  padding: 10px 10px 10px 30px;
  margin: .5em 0;
  background: #fff;
  border: solid 1px #ABAA9D;
  color: #4c4c46;
  text-decoration: none;
  border-radius: 3px; }

.rounded a:hover {
  background: #ABAA9D; }

.rounded a:hover:before {
  transform: rotate(180deg); }

.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #d9a958;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out; }

#header_menu {
  margin: 0 50px; }

#header_menu li {
  float: right;
  display: block;
  margin: 15px 25px;
  padding: 10px 0; }

#header_menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px; }

#header_menu a:hover {
  text-decoration: underline; }

#breadcrumbs {
  margin: 10px 0px 10px 5px; }

#breadcrumbs h2 {
  font-size: 16px;
  font-weight: normal; }

#breadcrumbs a {
  text-decoration: none;
  color: #4C4C46; }

#breadcrumbs a:hover {
  text-decoration: underline; }

header {
  display: block;
  height: 70px;
  background-color: #3674b2;
  width: 100%;
  margin-bottom: 10px; }

footer {
  height: 120px;
  background-color: #3674b2;
  width: 100%;
  color: #fff;
  font-size: 12px; }

#footer_nav {
  margin: 0 0 0 100px;
  padding: 5px;
  position: relative;
  font-size: 14px; }

#footer_nav li {
  float: left;
  position: relative;
  margin-right: 75px; }

#footer_nav li a {
  color: #fff;
  text-decoration: none;
  display: block; }

#footer_nav li a:hover {
  text-decoration: underline; }

#footer_nav ul {
  margin-left: 5px;
  float: none;
  position: absolute;
  font-size: 12px; }

#footer_nav ul li {
  float: none;
  clear: none; }

.save_button {
  margin-top: 15px;
  background: #67b3ff;
  color: #fff;
  font-weight: bold;
  padding: 5px 20px;
  border: 0px solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px; }

.save_button:hover {
  background: #61A8F0; }

.add_to_collection {
  display: block;
  text-decoration: none;
  user-select: none;
  margin: 15px 10px;
  text-align: center;
  background: #f7ae32;
  color: #fff;
  padding: 4px 0px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px; }

.add_to_collection:hover {
  background: #FFB434; }

#profile p.button input,
#wrapper p.button input {
  width: 100%;
  cursor: pointer;
  background: #3674b2;
  padding: 5px 0px;
  font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
  color: #ffffff;
  font-size: 24px;
  border: 1px solid #295887;
  margin-bottom: 5px;
  border-radius: 3px; }

#profile p.button input:hover,
#wrapper p.button input:hover {
  background: #3697B2; }

#profile p.button input:active,
#profile p.button input:focus,
#wrapper p.button input:active,
#wrapper p.button input:focus {
  background: #2C7B91;
  position: relative;
  top: 1px;
  border: 1px solid #1F5766;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset; }

input:not([type="checkbox"]) {
  border: 1px solid #abaa9d;
  box-sizing: content-box;
  border-radius: 3px; }

input:not([type="checkbox"]):active,
input:not([type="checkbox"]):focus {
  border: 1px solid rgba(91, 90, 90, 0.7);
  background: rgba(238, 236, 240, 0.2); }

label {
  color: #4c4c46;
  position: relative; }

#profile {
  margin: 0 auto;
  width: 500px; }

#profile h3 {
  text-align: center;
  padding-bottom: 10px; }

#profile p {
  margin-bottom: 15px; }

#profile p:first-child {
  margin: 0px; }

#profile input:not([type="checkbox"]) {
  width: 98%;
  margin-top: 4px;
  padding: 10px 5px 10px 5px; }

/*# sourceMappingURL=main.css.map */
