{% extends "profile.html" %}

{% block title %}Изменить пароль{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'user_account:profile' %}">Профиль</a> |</li>
    <li> Изменить пароль</li>
{% endblock %}
{% block subcontent %}
    <div class="center_block">
        <div id="profile">
           <section>
                <form action="." method="post">{% csrf_token %}
                    <h3>Изменить пароль</h3>
                    <p>{% if form.saved %}Сохранено{% endif %}</p>
                    <p>
                        <label for="{{ form.password_old.name }}">{{ form.password_old.label }}</label>
                        {{ form.password_old }}
                    </p>
                    <p>
                        <label for="{{ form.password_new.name }}">{{ form.password_new.label }}</label>
                        {{ form.password_new }}
                    </p>
                    {#                <p>#}
                    {#                    <label for="{{ form.password_new_repeat.name }}">{{ form.password_new_repeat.label }}</label>#}
                    {#                    {{ form.password_new_repeat }}#}
                    {#                </p>#}
                    <p class="login button">
                        <input type="submit" value="Сохранить"/>
                    </p>
                </form>
            </section>
        </div>
    </div>
{% endblock %}