{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate-custom.css' %}" />
{% endblock %}
{% block content %}
    <section>
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <form  action="../../templates" autocomplete="on" method="post">
                    {% csrf_token %}
                    <h1>Войти</h1>
                    <p>
                        <label for="{{ auth_form.your_login.name }}" data-icon="u">{{ auth_form.your_login.label }}</label>
                        {{ auth_form.your_login }}
                    </p>
                    <p>
                        <label for="{{ auth_form.your_password.name }}" data-icon="p">{{ auth_form.your_password.label }}</label>
                        {{ auth_form.your_password }}
                    </p>
                    <p class="keeplogin">
                        {{ auth_form.keep_me_login }}
                        <label for="{{ auth_form.keep_me_login.name }}">{{ auth_form.keep_me_login.label }}</label>
                    </p>
                    <p class="login button">
                        <input type="submit" value="Войти" />
                    </p>
                    <p class="change_link">
                        Еще не с нами ?
                        <a href="#toregister" class="to_register">Присоединяйтесь</a>
                    </p>
                </form>
            </div>
            <div id="register" class="animate form">
                <form  action="{% url 'registration' %}" autocomplete="on" method="post">
                    {% csrf_token %}
                    <h1>Регистрация</h1>
                    <p>
                        <label for="{{ reg_form.email_signup.name }}" data-icon="e">{{ reg_form.email_signup.label }}</label>
                        {{ reg_form.email_signup }}
                    </p>
                    <p>
                        <label for="{{ reg_form.password_signup.name }}" data-icon="p">Ваш пароль</label>
                        {{ reg_form.password_signup }}
                    </p>
                    <p id="user_agreement">
                        Нажимая кнопку &laquoЗарегистрироваться&raquo, Вы принимаете условия <a href="{% url 'user_agreement' %}">Пользовательского соглашения</a>.
                    </p>
                    <p class="signin button">
                        <input type="submit" value="Зарегистрироваться"/>
                    </p>
                    <p class="change_link">
                        Уже зарегистрированы ?
                        <a href="#tologin" class="to_register">Войти</a>
                    </p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}