<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="text-align: center">
        <tr>
            <td style="font-size: large"><b>Уважаемый пользователь</b></td>
        </tr>
        <tr>
            <td>Для сброса пароля от учетной записи, на сайте {{ site_name }}, Вам необходимо перейти по, указанной ниже, ссылке</td>
        </tr>
        <tr>
            <td><a href="{{ protocol }}://{{ domain }}{% url 'user_account:password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a></td>
        </tr>
    </table>
</body>
