{% extends "base.html" %}

{% block title %}Установка нового пароля{% endblock %}

{% block content %}
    <div class="center_block">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Установка нового пароля</h3>
            {% for field in form %}
                <p>
                    {{ field.label_tag }}{{ field }}
                </p>
            {% endfor %}
{#            <span class="errors">{{ form.email.errors|join:' ' }}</span>#}
            <p class="login button">
                <input type="submit" value="Сохранить"/>
            </p>
        </form>
    </div>
{% endblock %}