{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block breadcrumbs %}Сброс пароля{% endblock %}
{% block content %}
    <div>
        <form action="." method="post">{% csrf_token %}
            <h3>Сброс пароля</h3>
            <p>{% if changing_email_form.saved %}Сохранено{% endif %}</p>
            <p>
                {{ form.field_tag }}{{ form.field }}
{#                <label for="{{ changing_email_form.email.name }}">{{ changing_email_form.email.label }}</label>#}
{#                {{ changing_email_form.email }}#}
            </p>
            <p class="login button">
                <input type="submit" value="Отправить"/>
            </p>
        </form>
    </div>
{% endblock %}