{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div id="profile">
        <section>
            <form action="../../templates" method="post">
                <h3>Профиль</h3>
                <p>
                    <label for="{{ changing_email_form.email.name }}">{{ changing_email_form.email.label }}</label>
                    {{ changing_email_form.email }}
                </p>
                <p class="login button">
                    <input type="submit" value="Сохранить" />
                </p>
            </form>
        </section>
        <section>
            <form action="../../templates" method="post">
                <h3>Сменить пароль</h3>
                <p>
                    <label for="{{ changing_password_form.password_old.name }}">{{ changing_password_form.password_old.label }}</label>
                    {{ changing_password_form.password_old }}
                </p>
                <p>
                    <label for="{{ changing_password_form.password_new.name }}">{{ changing_password_form.password_new.label }}</label>
                    {{ changing_password_form.password_new }}
                </p>
                <p>
                    <label for="{{ changing_password_form.password_new_repeat.name }}">{{ changing_password_form.password_new_repeat.label }}</label>
                    {{ changing_password_form.password_new_repeat }}
                </p>
                <p class="login button">
                    <input type="submit" value="Сохранить" />
                </p>
            </form>
        </section>
    </div>
{% endblock %}