$main-color: #3674b2;
$second-color: #80c0ff;
$blue-color: #67b3ff;
$dark_orange-color: #f7ae32;
$ligth-orange-color: #ffc767;
$text-dark-color: #393933;
$text-color: #42423c;
$text-light-color: #929288;
$border-color: #abaa9d;
$selected-border-color: #96968A;