{% extends "base.html" %}

{% block title %}{{ coin.name }} | {{ coin.section }}{% endblock %}
    {% load staticfiles %}
{% block css %}
    <link type="text/css"  rel="stylesheet" href="{% static 'css/smslider.css' %}" />
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.smslider.min.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'catalog' %}">Каталог</a> |
    <a href="{% url 'coins_section' coin.section.id %}">{{ coin.section }}</a> |
    {{ coin.name }}
{% endblock %}

{% block content %}
    <div id="coin">
        <div class="sm_slider">
            <ul>
                {% for image in coin.image_set.all %}
                    <li><img src="{{ image.image.url }}" alt="Photo" /></li>
                {% endfor %}
            </ul>
        </div>
        <div id="detail">
            <form action="." method="post">
                {% for field in add_to_collection_form %}
                    <p>{{ field.label_tag }}</p>{{ field }}
                {% endfor %}
                <button class="save_button" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sm_slider').smSlider({pagination : false});
        })
    </script>
{% endblock %}