<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="utf-8">
    <title>{% block title %}Коллекция{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    {% block css %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul id="header_menu">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_account:logout' %}">Выход</a></li>
                    <li><a href="{% url 'user_account:profile' %}">Профиль</a></li>
                    <li><a href="{% url 'user_account:profile' %}">Моя коллекция</a></li>
                {% else %}
                    <li><a href="{% url 'user_account:login' %}">Вход</a></li>
                {% endif %}
                <li><a href="{% url 'main' %}">Главная</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <div id="breadcrumbs"><h2>{% block breadcrumbs %}{% endblock %}</h2></div>
        {% block content %}{% endblock %}
    </div>
{% block javascript %}{% endblock %}
    <footer>
        <ul id="footer_nav">
            <li>
                <a href="#">Раздел</a>
                <ul>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                </ul>
            </li>
            <li><a href="#">Раздел</a>
                 <ul>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                </ul>
            </li>
            <li><a href="#">Раздел</a>
                 <ul>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                     <li><a href="#">Подраздел</a></li>
                </ul>
            </li>
            <li><a href="#">Раздел</a>
                 <ul>
                    <li><a href="#">Подраздел</a></li>
                    <li><a href="#">Подраздел</a></li>
                    <li><a href="#">Подраздел</a></li>
                </ul>
            </li>
            <li><a href="#">Раздел</a>
                <ul>
                    <li><a href="#">Подраздел</a></li>
                    <li><a href="#">Подраздел</a></li>
                    <li><a href="#">Подраздел</a></li>
                    <li><a href="#">Подраздел</a></li>
                </ul>
            </li>
        </ul>
        &copy;&nbsp;2016
    </footer>
</body>
</html>