{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<li>Каталог</li>
{% endblock %}

{% block content %}
{% include 'nav_left.html' %}
<div class="view_catalog">
    {% include 'view_catalog.html' %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
        $(document).ready(function(){
            $('.image_coin').click( function() {
                $(this).toggleClass('flip');
            });
            $("ul.root_section_catalog li ul").hide();
            $("ul.root_section_catalog li a").click(function() {
                $(this).next().slideToggle();
            });
        });
</script>
{% endblock %}