{% extends "collection.html" %}

{% block title %}{{ section.name }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'collection' %}">Моя коллекция</a> |</li>
    <li>{{ section.name }}</li>
{% endblock %}

{% block content %}
    {% for collection in collections %}
        <div class="coin">
            <div class="header_coin">
                <a href="{% url 'coin_collection' section.id collection.coin.id collection.id%}">{{ collection.coin.name }}</a>
            </div>
            {% for image in collection.coin.image_set.all|slice:":1" %}
                <div class="image_coin">
                    <img src="{{ image.image.url }}" />
                </div>
            {% endfor %}
            <a href="{% url 'remove_from_collection' section.id collection.coin.id %}" class="remove_from_collection">Убрать из коллекции</a>
        </div>
    {% endfor %}
{% endblock %}