{% extends "base.html" %}

{% block title %}{{ section.name }}{% endblock %}

{% block content %}
    <h2><a href="{% url 'main' %}">Разделы</a> | {{ section.name }}</h2>
    {% for coin in coins %}
        <div class="coin">
            <div class="header_coin"><a href="{% url 'information_coin' section.id coin.id %}">{{ coin.name }}</a></div>
            {% for image in coin.image_set.all|slice:":1" %}
                <div class="image_coin">
                    <img src="{{ image.image.url }}" />
                </div>
            {% endfor %}
            <a href="#" class="add_button">Добавить в коллекцию</a>
        </div>
    {% endfor %}
{% endblock %}