{% for coin in coins %}
<div class="coin">
    <div class="header_coin">
        <a href="{% url 'information_coin' coin.section.id coin.id %}">{{ coin.name }}</a>
    </div>
    <div class="image_coin">
        {% for image in coin.image_set.all %}
        <figure class="{% if forloop.counter == 1 %}avers{% else %}reverse{% endif %}">
            <img src="{{ image.image.url }}"/>
        </figure>
        {% endfor %}
    </div>
    <a href="{% url 'add_to_collection' coin.section.id coin.id %}" class="add_to_collection">Добавить в коллекцию</a>
</div>
{% endfor %}