$main-color: #3674b2;
$second-color: #80c0ff;
$blue-color: #67b3ff;
$dark_orange-color: #f7ae32;
$ligth-orange-color: #ffc767;
$text-color: #4c4c46;
$light-text-color: #7D7D73;
$border-color: #abaa9d;
$selected-border-color: #96968A;