@import '../global-vars/locals';

.save_button{
    margin-top: 15px;
    background: $blue-color;
    color: #fff;
    font-weight: bold;
    padding: 5px 20px;
    border: 0px solid;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.save_button:hover{
    background: #61A8F0;
}
.add_to_collection{
    display: block;
    text-decoration: none;
    user-select: none;
    margin: 15px 10px;
    text-align: center;
    background: #f7ae32;
    color: #fff;
    padding: 4px 0px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.add_to_collection:hover{
    background: #FFB434;
}
.remove_from_collection{
    display: block;
    text-decoration: none;
    user-select: none;
    margin: 15px 10px;
    text-align: center;
    background: #f7ae32;
    color: #fff;
    padding: 4px 0px;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}
.remove_from_collection:hover{
    background: #FFB434;
}
#profile p.button input,
#wrapper p.button input {
	width: 100%;
	cursor: pointer;
	background: $main-color;
	padding: 5px 0px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #ffffff;
	font-size: 24px;
	border: 1px solid #295887;
	margin-bottom: 5px;
	border-radius: 3px;
}
#profile p.button input:hover,
#wrapper p.button input:hover {
	background: #3697B2;
}
#profile p.button input:active,
#profile p.button input:focus,
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: #2C7B91;
	position: relative;
	top: 1px;
	border: 1px solid #1F5766;
	box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}