@import 'vars';

footer {
  position: relative;
  background-color: $main-color;
  color: #fff;
  font-size: 12px;
  height: 50px;
  margin-top: -50px;
  clear: both;
}
#social_buttons {
    float: left;
    margin: 10px 0 0 100px;
}