@import 'vars';

#header_menu {
    margin: 0 50px;
}
#header_menu li {
    float: right;
    display: block;
    padding: 25px 25px;
}
#header_menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}
#header_menu a:hover {
    text-decoration: underline;
}
.breadcrumbs {
  color: $text-dark-color;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs a{
  text-decoration: none;
  color: $text-dark-color;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.nav_catalog {
  float: left;
  width: 200px;

  ul {
    list-style: none;

    li {
        font-size: 14px;

        ul {
            li {
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }

  a {
    position: relative;
    color: $text-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
 }
}
#footer_nav {
  float: right;
  padding: 15px;
  position: relative;
  font-size: 12px;

  li {
    float: left;
    position: relative;
    margin-right: 30px;

    a:hover {
     text-decoration: underline;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
}